<div class="model-inner-content-wrapper p-2">
    <div class="d-flex justify-content-end model-close-icon" (click)="activeModal.dismiss('click')"> 
        <img src="assets/img/popup-close.svg" alt="Popup Close" />
    </div>
    <div class="model-inner-content">
        <div class="hs-business-doctype-list-group">
            <div class="modal-header no-bg">
                <div class="hs-popup-title">
                    <h4>
                        Are You Sure You Want To Delete
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Name : {{user.firstName}} {{user.lastName}}</p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-12">
                        <button class="btn btn-light" (click)="activeModal.dismiss('click')">Cancel</button>
                        <button class="btn btn-danger" (click)="deleteAction(user)">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>